* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  width: 100vw;
  background: url(../images/bg/bg3.jpg) no-repeat center/cover fixed;
  position: relative;
  overflow-x: hidden;
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#splash img {
  border-radius: 50px;
  width: 300px;
}

#splash.fade {
  opacity: 0;
  z-index: 0;
}

.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #ac0202;
}

.toggle.active::before {
  content: "\f00d";
  z-index: 2;
}

.active {
  color: #ac0202;
}

.navigation.active {
  width: 200px;
}

.navigation {
  position: fixed;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.575);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  z-index: 2;
}

.navigation:hover {
  width: 200px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li a:hover {
  color: #ac0202;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .title {
  position: relative;
  font-size: 1.2rem;
  display: block;
  padding: 0, 10px;
  height: 60px;
  line-height: 50px;
  text-align: start;
  white-space: nowrap;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#home .home-div {
  text-align: center;
}

#home .home-div .hide {
  background: transparent;
  overflow: hidden;
}

#home .home-div .hide h1 {
  font-family: Roboto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  text-align: center;
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 5px red;
}

#home .home-div .hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  text-align: center;
  color: white;
  font-size: 2rem;
  display: inline-block;
}

.portfolio {
  color: #fff;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.portfolio img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0;
}

.vids {
  opacity: 0;
}

.about {
  color: #fff;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  overflow: hidden;
}

.about .about-image {
  width: 100%;
  border-radius: 30px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.about .about-para {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.about .about-para p {
  margin-top: 70px;
  text-align: center;
  font-size: 1.2rem;
}

.team-section {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.contact {
  color: #fff;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.login-box {
  width: 400px;
  padding: 40px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box input,
.login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ac0202;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ac0202;
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #ac0202;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ac0202, 0 0 25px #ac0202, 0 0 50px #ac0202, 0 0 100px #ac0202;
          box-shadow: 0 0 5px #ac0202, 0 0 25px #ac0202, 0 0 50px #ac0202, 0 0 100px #ac0202;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#ac0202));
  background: linear-gradient(90deg, transparent, #ac0202);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ac0202));
  background: linear-gradient(180deg, transparent, #ac0202);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#ac0202));
  background: linear-gradient(270deg, transparent, #ac0202);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#ac0202));
  background: linear-gradient(360deg, transparent, #ac0202);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.ad-box {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.ad-btn-view {
  margin-top: 5px;
  color: #fff;
  background-color: #ac0202;
}

.ad-btn-view:hover {
  border: 2px solid #ac0202;
  background-color: transparent;
  color: #ac0202;
}

footer {
  padding: 10px;
  color: white;
  text-align: center;
}

.hide-team-name {
  background-color: transparent;
  overflow: hidden;
}

.hide-team-name h1 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.swiper-container {
  width: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

@media (max-width: 768px) {
  .navigation {
    left: -60px;
  }
  .navigation.active {
    left: 0px;
    width: 100%;
  }
  .login-box {
    width: 100%;
  }
  .about .about-para p {
    margin-top: 0;
  }
  .contact {
    color: #fff;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}
/*# sourceMappingURL=style.css.map */